<html ng-app="phonecatApp">

<head>
  <script src="angular.min.js"></script>
  <script src="js/controllers.js"></script>
    <script type="text/ng-template" id="test.html">
       <h1> this text is from templates</h1>
    </script>
  <link rel="stylesheet" type="text/css" href="css.css">
</head>

<div ng-controller="PhoneListCtrl">
  <ul>
    <li ng-repeat="phone in phones">
      <span>{{phone.name}}</span>
      <p>{{phone.snippet}}</p>
    </li>
  </ul>
 {{3 + 4}}
 {{val}}
  <button ng-click="inc()">click me</button>
  <h1 ng-show="isEven()">Even</h1>
  <h1 ng-hide="isEven()">Odd</h1>

  <h1 ng-show="even">Even</h1>
  <h1 ng-hide="even">Odd</h1>

 <div ng-repeat="i in myarr track by $index">
   <li>
      {{i}}::{{$index}}
     <div ng-show="$last">last</div>
     <div ng-show="$first">first</div>
     <div ng-show="$middle">middle</div>
     <div ng-show="$even">even</div>
     <div ng-show="$odd">odd</div>

   </li>
 </div>

  <div ng-repeat="user in users">
    <li>
      {{user.name}}
    </li>
  </div>

  <div ng-repeat="attr in obj">
    <li>
      {{attr}}
    </li>
  </div>

  <h1 ng-class="classVar"> NG CLASS</h1>
  <h1 ng-class="{orange:true, italic:true}"> NG CLASS</h1>

  <div ng-include="'test.html'">

  </div>
        <div ng-controller="SubPhoneListCtrl">
            <input ng-model="mydata">
            <button ng-click="mydata=123"></button>
            {{mydata}}

                <div ng-controller="SubSubPhoneListCtrl">
                    <input ng-model="mydata">
                    <button ng-click="mydata=123"></button>
                    {{mydata}}
                </div>
        </div>
<input ng-model="myVal.data">
{{myVal.data}}
<span ng-show="myVal.checkLength">the data is too long max is 15 characters</span>
</div>
</body>
</html>